{% extends 'base.html' %}

{% block title %}انتخاب فرمان{% endblock %}

{% block content %}
    <form method="post" action="{% url 'excelapp:command_selector' start_date=start_date end_date=end_date %}">
        {% csrf_token %}
        <h1>انتخاب فرمان</h1>
        <div class="input-group">
            <label for="command">فرمان:</label>
            <select id="command" name="command" required>
                <option value="most_sold">کدام محصول بیشترین فروش را داشته است؟</option>
                <option value="profit_gained">میزان سود در این بازه چقدر بوده است؟</option>
                <option value="best_seller">کدام مشتری بیشتر از بقیه مشتریان خرید کرده است؟</option>
                <option value="most_expensive">کدام مشتری محصول مورد نظر را بیشتر از بقیه مشتریان خرید کرده است؟</option>
                <option value="cheapest">کدام محصول بیشتر از بقیه محصولات در بازه زمانی انتخاب شده فروخته شده است؟</option>
                <option value="most_profitable">مشتریان منتخب کدام محصول را بیشتر از بقیه در تاریخ انتخاب شده خرید کرده‌اند؟</option>
            </select>
        </div>
        <button type="submit">ارسال</button>
    </form>
{% endblock %}
